body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgb(255, 64, 64);
  animation: background 1.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes background {
  to{
    background-color: rgb(255, 252, 94);
  }
}

#container{
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
}
.heart{
  position: absolute;
  width: 50px;
  animation: grow 1.75s linear;
  opacity: 0;
}

svg:nth-child(1).heart {
  fill:rgb(255, 64, 64);
}

svg:nth-child(2).heart {
  fill:rgb(255, 124, 64);
  animation-delay: .25s;
}

svg:nth-child(3).heart {
  fill:rgb(255, 252, 94);
  animation-delay: .50s;
}

svg:nth-child(4).heart {
  fill:rgb(255, 124, 64);
  animation-delay: .75s;
}

svg:nth-child(5).heart {
  fill:rgb(255, 64, 64);
  animation-delay: 1s;
}

svg:nth-child(6).heart {
  fill:rgb(252, 134, 134);
  animation-delay: 1.25s;
}


@keyframes grow {
  0%{ transform: scale(1); z-index: 100;  opacity: 1;}
  25%{ transform: scale(10); z-index: 90; opacity: 1;}
  50%{ transform: scale(25); z-index: 70; opacity: 1;}
  60%{ transform: scale(30); z-index: 50; opacity: 1;}
  75%{ transform: scale(40); z-index: 0; opacity: 0.5;}
  100%{ transform: scale(45); z-index: -1; opacity: 0;}
}
/* ------------------------------------------------------------------------- */

.card{
  position: absolute;
  top:0%;
  left: 50%;
  width: 300px;
  height: 400px;
  background: #fff;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) perspective(2000px) scale(.9);
  box-shadow: inset 300px 0 50px rgba(0, 0, 0, .5), 0 20px 100px rgba(0, 0, 0, .5);
  transition: all .7s;
  animation: book 3s ;
  animation-fill-mode: forwards;
  animation-delay: 1.8s;
  opacity: 0;
}
@keyframes book {
  20%{
    opacity: 1;
  }
  50%{
    transform: translate(-50%, -50%) scale(1.2);
  }


  100% {
    transform: translate(0%, -50%) perspective(2000px) rotate(-3deg) scale(1.2);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.2), 0 10px 100px rgba(0, 0, 0, 0.2);
    opacity: 1;
  }
}
/* .card:hover{
  transform: translate(-50%, -50%) perspective(2000px) rotate(-3deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5), 0 10px 100px rgba(0, 0, 0, .5);
} */

.card::before{
  content: "";
  position: absolute;
  top: 5px;
  left:0px;
  width:42px;
}

.card .in {
  transform-origin: left;
  transition: 1s;
  animation: card 2s ;
  animation-fill-mode: forwards;
  animation-delay:3s;
}

@keyframes card {
  0%{
    transform: rotateY(0);
  }
  40%{
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-145deg);
  }
}

/* .card:hover .in {
  transform: rotateY(-135deg);
} */

.word
{
  position: absolute;
  top:0;
  left: 0;
  z-index: -1;
  padding: 3rem;
}
